env
db.sqlite3
state/__pycache__/**
region/__pycache__/**
district/__pycache__/**
MFY/__pycache__/**
neighborhoood/__pycache__/**
house/__pycache__/**
human/__pycache__/**
config/__pycache__/**
media/